.loginButton{
    padding: 1vmin;
    margin: 2vmin;
    border-radius: 6px;
    margin-left: 25%;
    display: block;
    display: inline-block;
}

.loginInput {
    border-radius: 6px;
    height: 5vh;
    width: 50%;
    margin: 2%;
}

.credentials {
    margin-left: 25%;
}

.fieldContainer {
    height: 7vh;
}