.loginButton{
    padding: 1vmin;
    margin: 2vmin;
    border-radius: 6px;
    margin-left: 25%;
    display: block;
    display: inline-block;
}

.loginInput {
    border-radius: 6px;
    width: 90%;
    margin: 2%;
}