.error input {
    border-radius: 6px;
    width: 20%;
    height: 5vh;
    margin-left: 25%;
    border : solid tomato 2px;
}

.valid input {
    border-radius: 6px;
    width: 20%;
    height: 5vh;
    margin-left: 25%;
}

.textWrapper {
    width: 20%;
    height: 5vh;
    margin-left: 25%;
}


.error select {
    border-radius: 6px;
    padding: 2%;
    width: 50%;
    border : solid tomato 2px;
}

.valid select {
    border-radius: 6px;
    padding: 2%;
    width: 50%;
}